<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post | Blog Name</title>
    <link rel="stylesheet" type="text/css" href="{{ static('/css/style.css') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ static('/images/favicon.ico') }}"/>
</head>
<body>
<main>
    <article>
        <h2>{{ paidcontents.title }}</h2>
        <p>{{ paidcontents.content }}</p>

        <footer>
            <p>Опубликовано admin</p>
            <p>{{ paidcontents.published }}</p>
        </footer>
    </article>
</main>

<aside>
    <h3>Похожие сообщения</h3>
    <ul>
        <li><a href="{{ url('home') }}">Related Post 1</a></li>
        <li><a href="{{ url('middle') }}">Related Post 2</a></li>
        <li><a href="{{ url('last') }}">Related Post 3</a></li>
    </ul>
</aside>

</body>
</html>
